# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media files
media/
media/*

# Docker
.dockerignore

# IDEs
.idea/
*.swp
*.swo

# macOS
.DS_Store
config.bat
node_modules
